sudo: false
language: python
python:
  - "2.7"
cache:
  directories:
    - $HOME/.pip-cache/
install:
  - pip install twine
  - pip install --upgrade pip --cache-dir $HOME/.pip-cache/
  - pip install coveralls coverage --cache-dir $HOME/.pip-cache/
  - pip install flake8 --cache-dir $HOME/.pip-cache/
  - pip install -r requirements-dev.txt --cache-dir $HOME/.pip-cache/
  - pip install -e . --cache-dir $HOME/.pip-cache/
script:
  - flake8 molo
  - molo scaffold testapp --include molo.profiles ^profiles/ --include molo.polls ^polls/
  - pip install molo.profiles
  - cp molo/polls/test_templates/main.html testapp/testapp/templates/core/main.html
  - cp molo/polls/test_templates/section_page.html testapp/testapp/templates/core/section_page.html
  - flake8 testapp
  - pip install -e testapp
  - py.test --cov=molo
after_success:
  - coveralls
deploy:
  provider: pypi
  user: Praekelt
  password:
    secure: ""
  on:
    tags: true
    all_branches: true
